/*--------------------------------------------------------*\
  Bourbon / Neat
\*--------------------------------------------------------*/
$grid-columns: 24 !default;
$column: golden-ratio(1em, 4) !default;
$gutter: golden-ratio(1em, 1) !default;
$max-width: 100% !default;

$at-1280: max-width 80em 24;
$at-1264: max-width 79em 24;
$at-1248: max-width 78em 24;
$at-1232: max-width 77em 24;
$at-1216: max-width 76em 24;
$at-1200: max-width 75em 24;
$at-1184: max-width 74em 24;
$at-1168: max-width 73em 24;
$at-1152: max-width 72em 24;
$at-1136: max-width 71em 24;
$at-1120: max-width 70em 24;
$at-1104: max-width 69em 24;
$at-1088: max-width 68em 24;
$at-1072: max-width 67em 24;
$at-1056: max-width 66em 24;
$at-1040: max-width 65em 24;
$at-1024: max-width 64em 24;
$at-1008: max-width 63em 24;
$at-992:  max-width 62em 24;
$at-976:  max-width 61em 24;
$at-960:  max-width 60em 24;
$at-944:  max-width 59em 24;
$at-928:  max-width 58em 24;
$at-912:  max-width 57em 24;
$at-896:  max-width 56em 24;
$at-880:  max-width 55em 24;
$at-864:  max-width 54em 24;
$at-848:  max-width 53em 24;
$at-832:  max-width 52em 24;
$at-816:  max-width 51em 24;
$at-800:  max-width 50em 24;
$at-784:  max-width 49em 24;
$at-768:  max-width 48em 24;
$at-752:  max-width 47em 24;
$at-736:  max-width 46em 24;
$at-720:  max-width 45em 24;
$at-704:  max-width 44em 24;
$at-688:  max-width 43em 24;
$at-672:  max-width 42em 24;
$at-656:  max-width 41em 24;
$at-640:  max-width 40em 24;
$at-608:  max-width 38em 24;
$at-592:  max-width 37em 24;
$at-576:  max-width 36em 24;
$at-568:  max-width 35.5em 24; // iPhone Landscape
$at-560:  max-width 35em 24;
$at-540:  max-width 34em 24;
$at-528:  max-width 33em 24;
$at-512:  max-width 32em 24;
$at-496:  max-width 31em 24;
$at-480:  max-width 30em 24;
$at-440:  max-width 27.5em 24;
$at-400:  max-width 25em 24;
$at-320:  max-width 20em 24; // iPhone portrait