/*--------------------------------------------------------*\
  Bourbon / Neat
\*--------------------------------------------------------*/
$grid-columns: 24 !default;
$column: golden-ratio(1em, 4) !default;
$gutter: golden-ratio(1em, 1) !default;
$max-width: 100% !default;

$at-1280: max-width 80em 24;
$at-1216: max-width 76em 24;
$at-1200: max-width 75em 24;
$at-1168: max-width 73em 24;
$at-1120: max-width 70em 24;
$at-1072: max-width 67em 24;
$at-1056: max-width 66em 24;
$at-1024: max-width 64em 24;
$at-976:  max-width 61em 24;
$at-960:  max-width 60em 24;
$at-896:  max-width 56em 24;
$at-864:  max-width 54em 24;
$at-848:  max-width 53em 24;
$at-816:  max-width 51em 24;
$at-800:  max-width 50em 24;
$at-768:  max-width 48em 24;
$at-752:  max-width 47em 24;
$at-720:  max-width 45em 24;
$at-684:  max-width 43em 24;
$at-640:  max-width 40em 24;
$at-608:  max-width 38em 24;
$at-560:  max-width 35em 24;
$at-540:  max-width 34em 24;
$at-480:  max-width 30em 24;
$at-440:  max-width 27.5em 24;
$at-400:  max-width 25em 24;
$at-320:  max-width 20em 24;